nav {
    display: flex;
    justify-content: space- space-between;
    align-items: center;
    padding: 16px;
    background-color: #111;
    color: white;
}

a {
    color: #4fc3f7;
    text-decoration: none;
    font-weight: bold;
    

}