.container {
  max-width: 900px;
  margin: 60px auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.last-match {
  margin-top: 40px;
  padding: 16px;
  background-color: #0f172a;
  border-radius: 8px;
}